<!-- src/main/resources/hibernate.cfg.xml -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate-2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed statements to stdout -->
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
<!--        <mapping class="com.example.hibernate03.entity.Student"/>-->
<!--        <mapping class="com.example.hibernate03.entity.Address"/>-->
<!--        <mapping class="com.example.hibernate03.com.map.OneToOne.entities.Question"/>-->
<!--        <mapping class="com.example.hibernate03.com.map.OneToOne.entities.Answer"/>-->
<!--        <mapping class="com.example.hibernate03.com.map.OneToMany.entities.Question"/>-->
<!--        <mapping class="com.example.hibernate03.com.map.OneToMany.entities.Answer"/>-->
        <mapping class="com.example.hibernate03.com.map.ManyToMany.Entity.Employee"/>
        <mapping class="com.example.hibernate03.com.map.ManyToMany.Entity.Project"/>
    </session-factory>

</hibernate-configuration>
